.app-container {
    color: #FFFFFF;
    height: 100%;
    width: 80%;
    max-width: 750px;
    max-height: 560px;
    background-color: #233947;
    padding: 161px 97px 97px;
    box-sizing: border-box;
    position: relative;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
@media(max-width: 400px) {
    .app-container {
        width: 100%;
    }
}