<div class="app-container setup-password">
<p class="stgc-greeting">
    {{ greeting }}
</p>
<div class="bottom-wrapper">
    <div class="centered-container">
        <b>{{error}}</b>
        <form>
          <div class="input-container">
            <label for="password">NEW PASSWORD</label>
            <input autofocus [ngClass]="{ 'stgc-input': true, 'invalid': !isValid }" name="password" [ngModel]="newPassword" (ngModelChange)="onPassword1Change($event)" type="password"
            />
          </div>
          <br/>
          <div class="input-container">
            <label for="repeated-password">REPEAT NEW PASSWORD</label>
            <input [ngClass]="{ 'stgc-input': true, 'invalid': !isValid }" name="repeated-password" [ngModel]="repeatedPassword" (ngModelChange)="onPassword2Change($event)"
              type="password" />
          </div>
          <br/>
          
          <app-stgc-button [disabled]="!isValid" route="/success" text=""></app-stgc-button>
        </form>
      </div>
      
</div>
</div>