<p>
  {{ greeting }}
</p>

<div class="bottom-wrapper">
    <div class="centered-container">
        <form>
          <div class="input-container">
            <label for="password">E-MAIL</label>
            <div class="centered-container">
                <input autofocus [ngClass]="{ 'stgc-input': true, 'invalid': !isValid }" type="email" [ngModel]="email" (ngModelChange)="emailChanged($event)" name="email-input" label="E-MAIL"/>
              </div>
          </div>
          <app-stgc-button route="/setup" text="SUBMIT" [disabled]="!isValid"></app-stgc-button>
        </form>
      </div>
      
</div>