body, html {
    height: 100%;    
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;    
}
app-root {
    font-family: 'Source Sans Pro', sans-serif;
    background: #0D2331;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.centered-container {
    width: 100%;
    margin: auto;
    text-align: center;
}

.stgc-input { 
    margin: 2px 0 37px 0px;
    font-size: 18px;
    padding: 18px;
    background: #FFFFFF;
    border-radius: 3px;
    font-family: 'Source Sans Pro', sans-serif;
}

.stgc-input:focus, .stgc-input:focus{
    outline: none;
}

.stgc-greeting {
    font-size: 20px;
}
.stgc-greeting.centered {
    font-size: 20px;
    text-align: center;
}

.input-container {
    display: inline-block;
    text-align: left;
    width: 100%;        
}

.input-container input {
    box-sizing : border-box;
    width: 100%;    
}
.input-container label {
    display: block;
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 11px;
}
.bottom-wrapper {
    position: absolute;
    width: calc(100% - 200px);
    bottom: 80px;
}

.app-container {
    color: #FFFFFF;
    height: 100%;
    width: 80%;
    max-width: 750px;
    max-height: 560px;
    background-color: #233947;
    padding: 161px 97px 97px;
    box-sizing: border-box;
    position: relative;
}
.app-container.bottom-align {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

app-password-setup,
app-password-change-success,
app-password-reset {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.setup-password {
    max-height: 661px;    
}

@media(max-width: 400px) {
    .app-container {
        width: 100%;
    }
}