.stgc-button {
  border: 2px transparent;
  width: 100%;
  left: 667px;
  top: 701px;
  height: 60px;
  width: 360px;
  color: white;
  background: #E43365;
  border-radius: 100px;
  cursor: pointer;
  max-width: 320px;
  transition: 0.2s ease all;
}
.stgc-button:hover {
  border: 2px white;  
  background: #EB1551;
}
.stgc-button.disabled {
  background: #FF8CAC;
  cursor: default;
}
@media(max-width: 650px) {
  .stgc-button {
      width: 100%;
  }
}